h4 {
    cursor: pointer;
}

a {
    margin-right: 25px;
    color: black !important;
    padding: 10px;
    cursor: pointer;
}

a:hover {
    text-decoration: none !important;
}

a:not(:first-child):hover {
    text-decoration: none !important;
    background: black;
    border-radius: 5px;
    color: white !important;
}

section {
    position: relative;
}

section span {
    position: absolute;
    left: 0%;
    top: 15%
}